	<!-- Start Faculty Area -->
	<section class="faculty-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>Our Staff</h1>
						<p>
							All teaching and non-teaching staffs are highly qualified in there respective discipline. Mostly complemented with an advanced degree. 
						</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img width="163" height="163" class="img-fluid" src="/uploads/{{schoolData.staff_image}}" alt=""/>
					</div>
					<div class="meta-text text-center">
						<h4>{{schoolData.staff_fullname}}</h4>
						<p class="designation">{{schoolData.staff_position}}</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								{{schoolData.staff_comment}}
							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img width="163" height="163" class="img-fluid" src="/uploads/{{schoolData.staff_image2}}" alt=""/>
					</div>
					<div class="meta-text text-center">
						<h4>{{schoolData.staff_fullname2}}</h4>
						<p class="designation">{{schoolData.staff_position2}}</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
							<p>
								{{schoolData.staff_comment2}}
							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img width="163" height="163" class="img-fluid" src="/uploads/{{schoolData.staff_image3}}" alt=""/>
					</div>
					<div class="meta-text text-center">
						<h4>{{schoolData.staff_fullname3}}</h4>
						<p class="designation">{{schoolData.staff_position3}}</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
							<p>
								{{schoolData.staff_comment3}}
							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img width="163" height="163" class="img-fluid" src="/uploads/{{schoolData.staff_image4}}" alt=""/>
					</div>
					<div class="meta-text text-center">
						<h4>{{schoolData.staff_fullname4}}</h4>
						<p class="designation">{{schoolData.staff_position4}}</p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
							<p>
								{{schoolData.staff_comment4}}

							</p>
						</div>
						<div class="align-items-center justify-content-center d-flex">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Faculty Area -->

