<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{schoolData.title}}</title>

    <meta name="description" content="stJoseph Catholic is the best school in ilorin from the first church in the world">
    <meta name="keywords" content="Best school in ilorin, best primary school in ilorin, best school in the world, best school in the entire universe, first primary school in kwara state, most advanced school in kwara state, best school in offa, best school in ilorin, best school in GRA, behind kwara hotel, behind governors office, largest school in kwara state, biggest school in kwara state, best 5 schools in ilorin, top 5 school in ilorin, top 10 school in ilorin, top 20 school in ilorin, oldest school in kwara state, oldest school in  ilorin">

    <!-- Favicon -->
    <link rel="icon" href="/TOPBuilder/images/favicon.png" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="/TOPBuilder/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/TOPBuilder/vendors/animate/animate.css" rel="stylesheet">
    <!-- Icon CSS-->
	<link rel="stylesheet" href="/TOPBuilder/vendors/font-awesome/css/font-awesome.min.css">
    <!-- Camera Slider -->
    <link rel="stylesheet" href="/TOPBuilder/vendors/camera-slider/camera.css">
    <!-- Owlcarousel CSS-->
	<link rel="stylesheet" type="text/css" href="/TOPBuilder/vendors/owl_carousel/owl.carousel.css" media="all">

    <!--Theme Styles CSS-->
	<link rel="stylesheet" type="text/css" href="/TOPBuilder/css/style.css" media="all" />

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader -->
   {{!--  <div class="preloader"></div> --}}

	<!-- Top Header_Area -->
	<section class="top_header_area">
	    <div class="container">
            <ul class="nav navbar-nav top_nav">
                <li><a href="#"><i class="fa fa-phone"></i>{{schoolData.phone}}</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>{{schoolData.email}}</a></li>
                <li><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 8:00 - 4:00</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social_nav">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i cflass="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
	    </div>
	</section>
	<!-- End Top Header_Area -->

	<!-- Header_Area -->
    <nav class="navbar navbar-default header_aera" id="main_navbar">
        <div class="container">
            <!-- searchForm -->
            <div class="searchForm">
                <form action="#" class="row m0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="search" name="search" class="form-control" placeholder="Type & Hit Enter">
                        <span class="input-group-addon form_hide"><i class="fa fa-times"></i></span>
                    </div>
                </form>
            </div><!-- End searchForm -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-2 p0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="/uploads/{{school_logo.image}}" alt="" height="160" width="160"> </a>


                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-10 p0">
                <div class="collapse navbar-collapse" id="min_navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="index.html">Our Vision</a></li>
                                <li><a href="index-2.html">Our Mission</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu other_dropdwn">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="about-2.html">Our History</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events</a>
                            <ul class="dropdown-menu other_dropdwn">
                                <li><a href="services.html">Latest Event</a></li>
                                <li><a href="services-2.html">Upcomming Event</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Gallery</a></li>
                       
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#" class="nav_searchFrom"><i class="fa fa-search"></i></a></li>
                         <li><a href="/admin/login">Login</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container -->
    </nav>
	<!-- End Header_Area -->

    <!-- Slider area -->
    <section class="slider_area row m0">
        <div class="slider_inner">
            <div data-thumb="/TOPBuilder/images/slider-1.jpg" data-src="/TOPBuilder/images/slider-1.jpg">
                <div class="camera_caption">
                   <div class="container">
                        
                        <h1 style="padding-left: 150px; width: 500px" class=" wow fadeInUp animated" data-wow-delay="0.5s">Welcome to </h1>
                        <h1 style="padding-left: 150px; width: 500px">{{schoolData.name}} {{schoolData.schoolType}}</h1>
            {{!-- .half-black {
  background: rgba(0, 0, 0, 0.5);
} --}}            
                      
                   </div>
                </div>
            </div>
            <div data-thumb="/TOPBuilder/images/slider-2.jpg" data-src="/TOPBuilder/images/slider-2.jpg">
                <div class="camera_caption">
                   <div class="container">
                   
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">{{schoolData.name}} Achieved 100% score in the National JET competition.</h3>
                      
                       
                   </div>
                </div>
            </div>
            <div data-thumb="/TOPBuilder/images/slider-3.jpg" data-src="/TOPBuilder/images/slider-3.jpg">
                <div class="camera_caption">
                   <div class="container">
                        
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">First position in the NTA Quiz competition.</h3>
              
                   </div>
                </div>
            </div>
            <div data-thumb="/TOPBuilder/images/slider-4.jpg" data-src="/TOPBuilder/images/slider-4.jpg">
                <div class="camera_caption">
                   <div class="container">
                        <h3 class= "wow fadeInUp animated" data-wow-delay="0.5s">First in National Turkish Mathematics Exams.</h3>

                       
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider area -->

    <!-- Professional Builde -->
    <section class="professional_builder row">
        <div class="container">
           <div class="row builder_all">
                <div class="col-md-3 col-sm-6 builder">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h4>School starting at age three</h4>
                    <p>We believe that school should start early, so we are creating a seamless educational experience from preschool to middle school.</p>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <h4>Online Result Checking</h4>
                    <p>Results of Pupils are Uploaded Online to be viewed from anypart of the world by the parents or the pupils themselves. We strongly believe in I.T</p>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <h4>Our Library</h4>
                    <p>Our Library brings together quality, locally relevant books and educational materials from various sources into one simple, searchable platform. </p>
                </div>
                <div class="col-md-3 col-sm-6 builder">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    <h4>Passionate Teachers</h4>
                    <p>Our teachers are always very passionate about their roles and they are always ready to deliver intellectual ideas to the pupil. We are very friendly </p>
                </div>
           </div>
        </div>
    </section>
    <!-- End Professional Builde -->

    <!-- About Us Area -->
    <section class="about_us_area row">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>ABOUT US</h2>
                <h4>St.Joseph's the school of virtue, Founded and built on a solid rock. With Jesus and Mary, we form one, great family of God</h4>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-7 col-sm-6">
                    <div class="subtittle">
                        <h2>Our Mission</h2>
                    </div>
                    <p>To Establish a foremost Educational centre where the tenets of Catholic Faith is the foundation and the individual child is Developed spiritually, Morally and Intellectually to Become a functional member of a Dynamic society.</p>
                   
                    <div class="subtittle">
                        <h2>Our Vision</h2>
                    </div>
                    <p>To Develop the God-Given potentials in every child optimally both in character and intellect, with a view to Attaining national Development</p>
                    
                </div>

                <div class="col-md-5 col-sm-6 about_client">
                    <img src="/TOPBuilder/images/about_client.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Area -->
{{!-- <section class="what_we_area row" style="background: {{schoolData.minorColor}}"> --}}
    <!-- What ew offer Area -->
    <section class="what_we_area row">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>WHAT WE OFFER</h2>
                <h4>We offer many features for our pupil, here are a few of them</h4>
            </div>
            <div class="row construction_iner">
                <div class="col-md-4 col-sm-6 construction">
                   <div class="cns-img">
                        <img src="/TOPBuilder/images/cns-3.jpg" alt="">
                   </div>
                   <div class="cns-content">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <a href="#">Environment</a>
                        <p>Clean and Serene Environment</a></h3>
                        <p>The school environment, classrooms, toilets and all other places in the shool are always neat and well maintained.</p>
                   </div>
                </div>
                <div class="col-md-4 col-sm-6 construction">
                   <div class="cns-img">
                        <img src="/TOPBuilder/images/cns-1.jpg" alt="">
                   </div>
                   <div class="cns-content">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                        <a href="#">Science</a>
                        <p>Best Computer School</a></h3>
                        <p>Our computer Lab is first-grade, As we start to teach our kids how to use computer and its components at a very early stage </p>
                   </div>
                </div>
                <div class="col-md-4 col-sm-6 construction">
                   <div class="cns-img">
                        <img src="/TOPBuilder/images/cns-2.jpg" alt="">
                   </div>
                   <div class="cns-content">
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                        <a href="#">Happy Kids</a>
                        <p>Our Kids are always Happy</a></h3>
                        <p>With the presence of Good accomodating pupils and teachers, our kids are always happy to come to school and learn new ideas.</p>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End What ew offer Area -->

    <!-- Our Features Area -->
    <section class="our_feature_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Features</h2>
               
            </div>
            <div class="feature_row row">
                <div class="col-md-6 feature_img">
                    <img src="/TOPBuilder/images/feature-man.jpg" alt="">
                </div>
                <div class="col-md-6 feature_content">
                    <div class="subtittle">
                        <h2>What makes Us Special</h2>
                        <h5>There are many Unique featues that makes us very special in {{schoolData.name}} {{schoolData.schoolType}}</h5>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">30+ YEARS OF EXPERIENCE</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-rocket" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">QUALIFIED EXPERTS</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="#">Best Customer Services</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting indus-try. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Features Area -->
{{!--  --}}
  
   
    <!-- Our Achievments Area -->
    <section class="our_achievments_area" data-stellar-background-ratio="0.3">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Achievments</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
            </div>
            <div class="achievments_row row">
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    <span class="counter">800</span>
                    <h6>PROJECT COMPLETED</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="counter">230</span>
                    <h6>HOUSE RENOVATIONS</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <span class="counter">1390</span>
                    <h6>WORKERS EMPLOYED</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span class="counter">125</span>
                    <h6>AWARDS WON</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Achievments Area -->



    <!-- Our Featured Works Area -->
    <section class="featured_works row" data-stellar-background-ratio="0.3">
        <div class="tittle wow fadeInUp">
            <h2>Our Featured Works</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="featured_gallery">
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-1.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-2.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-3.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-4.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-5.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-6.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-7.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="/TOPBuilder/images/gallery/gl-8.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Featured Works Area -->

    <!-- Our Latest Blog Area -->
    <section class="latest_blog_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Upcoming/Latest Events</h2>
                <h4>our upcoming and latest events</h4>
            </div>
            <div class="row latest_blog">
                
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="/TOPBuilder/images/blog/lb-2.jpg" alt="">
                    <a href="#" class="blog_heading">Grand Finally Fifty years and Pupils Graduation</a>
                    <h4><small>by  </small><a href="#">Theoderic</a><span>/</span><small>ON </small> 31th July, 2019</h4>
                    <p>The Grand finally fifty year and pupils graduation will be held on the 31th of July 2019, the venue is M and M event hall. </p>
                </div>
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="/TOPBuilder/images/blog/lb-1.jpg" alt="">
                    <a href="#" class="blog_heading">Excursion to Benin Republic</a>
                    <h4><small>by  </small><a href="#">James</a><span>/</span><small>ON </small> July 10th, 2019</h4>
                    <p>Our Pupils embarked on an excursion to benin republic on the 10th of July 2019. The Pupils were very excited, as the get to visit another african country <a href="#">Read More</a></p>
                </div>
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="/TOPBuilder/images/blog/lb-1.jpg" alt="">
                    <a href="#" class="blog_heading">Excursion to Benin Republic</a>
                    <h4><small>by  </small><a href="#">James</a><span>/</span><small>ON </small> July 10th, 2019</h4>
                    <p>Our Pupils embarked on an excursion to benin republic on the 10th of July 2019. The Pupils were very excited, as the get to visit another african country <a href="#">Read More</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Latest Blog Area -->

    
    <!-- Footer Area -->
    <footer class="footer_area">
        <div class="container">
            <div class="footer_row row">
                <div class="col-md-3 col-sm-6 footer_about">
                    <h2>ABOUT OUR COMPANY</h2>
                    <img src="/TOPBuilder/images/footer-logo.png" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul class="socail_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer_about quick">
                    <h2>Quick links</h2>
                    <ul class="quick_link">
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Building Construction</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Home Renovation</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Hardwood Flooring</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Repairing Of Roof</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Commercial Construction</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i>Concreate Transport</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer_about">
                    <h2>Twitter Feed</h2>
                    <a href="#" class="twitter">@colorlib: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</a>
                    <a href="#" class="twitter">@colorlib: Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</a>
                </div>
                <div class="col-md-3 col-sm-6 footer_about">
                    <h2>CONTACT US</h2>
                    <address>
                        <p>Have questions, comments or just want to say hello:</p>
                        <ul class="my_address">
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>info@thethemspro.com</a></li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>+880 123 456 789</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Sector # 10, Road # 05, Plot # 31, Uttara, Dhaka 1230 </span></a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
        <div class="copyright_area">
            Copyright 2017 All rights reserved. Designed by <a href="https://colorlib.com">Colorlib.</a>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- jQuery JS -->
    <script src="/TOPBuilder/js/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/TOPBuilder/js/bootstrap.min.js"></script>
    <!-- Animate JS -->
    <script src="/TOPBuilder/vendors/animate/wow.min.js"></script>
    <!-- Camera Slider -->
    <script src="/TOPBuilder/vendors/camera-slider/jquery.easing.1.3.js"></script>
    <script src="/TOPBuilder/vendors/camera-slider/camera.min.js"></script>
    <!-- Isotope JS -->
    <script src="/TOPBuilder/vendors/isotope//TOPBuilder/imagesloaded.pkgd.min.js"></script>
    <script src="/TOPBuilder/vendors/isotope/isotope.pkgd.min.js"></script>
    <!-- Progress JS -->
    <script src="/TOPBuilder/vendors/Counter-Up/jquery.counterup.min.js"></script>
    <script src="/TOPBuilder/vendors/Counter-Up/waypoints.min.js"></script>
    <!-- Owlcarousel JS -->
    <script src="/TOPBuilder/vendors/owl_carousel/owl.carousel.min.js"></script>
    <!-- Stellar JS -->
    <script src="vendors/stellar/jquery.stellar.js"></script>
    <!-- Theme JS -->
    <script src="/TOPBuilder/js/theme.js"></script>
</body>
</html>
