<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pupils login details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Table/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/bootstrap/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
</head>
<body >

				<center><h3>All Pupils Details</h3></center>
				<br>
				 <div>
{{#each pupils}}

	<div style="width:20%; float:left">
    	<h5 style="font-size:14px"><strong>{{this.first_name}} {{this.middle_name}} {{this.last_name}}</strong> </h5>
	    <p class="card-text"  style="font-size:12px">Username: <strong>{{this.generated_result_key}}</strong></p>
	    <p class="card-text"  style="font-size:12px">password: <strong> {{this.generated_password_key}}</strong></p>
	    <p class="card-text"  style="font-size:12px">School fees Status: {{this.school_fees_paid}}</p>
	    <p class="card-text"  style="font-size:12px">Current class: {{this.class_name}}</p>
	    <p class="card-text"  style="font-size:12px">Link: http://www.socrateweb.com/admin/pupils_login</p>
	    <br>
  	</div>

{{/each}}
</div>


<!--===============================================================================================-->	
	<script src="/Table/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/vendor/bootstrap/js/popper.js"></script>
	<script src="/Table/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/js/main.js"></script>

</body>
</html>