<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/Table/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/Table/css/util.css">
	<link rel="stylesheet" type="text/css" href="/Table/css/main.css">
<!--===============================================================================================-->
</head>
<body>

<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<center><h3>All Pupils Details</h3></center>
				 <div class="row">
{{#each pupils}}
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="cursor: pointer;">
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
	<div class="card-header"></div>
	<div class="card-body">
    	<h5 class="card-title">{{this.first_name}} {{this.middle_name}} {{this.last_name}} </h5>
	    <p class="card-text">generated_user_name: {{this.generated_result_key}}</p>
	    <p class="card-text">generated_password: {{this.generated_password_key}}</p>
	    <p class="card-text">School fees Status: {{this.school_fees_paid}}</p>
	    <p class="card-text">Current class: {{this.class_name}}</p>
  	</div>
</div>
</div>
{{/each}}
</div>

			</div>
		</div>
</div>

<!--===============================================================================================-->	
	<script src="/Table/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/vendor/bootstrap/js/popper.js"></script>
	<script src="/Table/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/Table/js/main.js"></script>

</body>
</html>