<!-- Custom Content -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                All Staffs
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div class="row">
                                {{#each all_staffs}}
                                 <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                    {{!-- the public folder is the root of all static files --}}

                                    <img src="/uploads/{{this.passport_name}}" alt=""/>
                                        <div class="caption">
                                            <center>
                                            <h3>{{this.first_name}} {{this.middle_name}} {{this.last_name}}</h3>
                                        </center>
                                            <p>
                                                <ul>
                                                    <li>{{this.phone}}</li>
                                                    <li>{{this.address}}</li>
                                                    <li>{{this.school_name}}</li>
                                                    <li>{{this.class_name}}</li>
                                                    
                                                </ul>
                                            </p>
                                           
                                        <a href="/admin/edit_staff/{{this._id}}" class="btn btn-primary waves-effect" role="button">Edit</a>
                                        <a href="/admin/edit_staff/{{this._id}}" class="btn btn-primary waves-effect" role="button">View</a>
                                           
                                        </div>
                                    </div>
                                </div>
                                {{/each}}     
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          