{{#each all_pupils}}
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan">
            <div class="icon">
                <a href="/admin/single_report_sheet/{{this._id}}"><i class="material-icons">https</i></a>
            </div>
           
            <div class="content">
              <div class="text" style="9px">{{this.term_name}}<br> {{this.pupil_name}} </div>  
                
            </div>
             <a style="padding-left:70px" href="/admin/delete_report_sheet/{{this.id}}"><i class="material-icons">delete</i></a>
        </div>
    </div>
{{/each}}
          
          {{!--            <a href="/admin/pupils_report/{{this.user_id}}" class="btn btn-primary waves-effect" role="button">Create Report</a> --}}