        <div class="container-fluid">
           
            <!-- Advanced Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Create A New Parent</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                <div class="body">
                    <form id="form_advanced_validation" action="/admin/create_parent"method="POST">


                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="n1" class="form-control" name="first_name" maxlength="410" minlength="3" required>
                                <label class="form-label">First Name</label>
                            </div>
                            <div class="help-info">First name required</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="n2" class="form-control" onkeyup="sync()" name="last_name" maxlength="40" minlength="3" required>
                                <label class="form-label">Last Name</label>
                            </div>
                            <div class="help-info">Last Name required</div>
                        </div>
                          <div class="form-group">
                                    <input type="radio" name="sex" id="male" class="with-gap">
                                    <label for="male">Male</label>

                                    <input type="radio" name="sex" id="female" class="with-gap">
                                    <label for="female" class="m-l-20">Female</label>
                        </div>
             
                                    
                            <select id="selectNumber" name="state_of_origin" onchange="myFunction()">
                                <option>State of Origin</option>
                            </select>
                            <select id="selectLga" name="lga_of_origin" onchange="myFunction()">
                                <option>LGA</option>
                            </select>

                  
                            <script>
function sync(){
    var n1 = document.getElementById('n1');
    var n2 = document.getElementById('n2');
    var n3 = document.getElementById('n3')
    var seq = (Math.floor(Math.random() * 10000) + 10000).toString().substring(1);
    n3.value = n2.value + "_" + n1.value + seq;

   console.log("typing", n2.value)
}


                            var state_list = {{{json state}}}
                            console.log(state_list)
                                var select = document.getElementById("selectNumber");
                                    
                                    for(var i = 0; i < state_list.length; i++) {
                                    var opt = state_list[i];
                                    var state = opt.state;
                                    var lgas = opt.lgas
                                    var el = document.createElement("option");
                                    el.textContent = state;
                                    el.value = lgas;
                                    var stata = {stateName:state, lgas:lgas};
                                    select.appendChild(el);
                                }

                        function myFunction() {
                        
                         var x = document.getElementById("selectNumber").value;

                          var destination = document.getElementById("selectLga");
                         // destination.length = 0; //to prevent appendation
                          var res = x.split(",");
                          console.log("You selected: ", res)
                            for(var i = 0; i < res.length; i++) {
                                var lg = res[i];
                                var la = document.createElement("option");
                                la.textContent = lg;
                                la.value = lg;
                                destination.appendChild(la);
                            }

                        }

                            </script>

                        <div class="form-group">

                            {{#each subject}}
                            <br/>                                       
                            <input type="radio" value={{this._id}} name="subject_id" id={{this._id}} class="with-gap">
                            <label for={{this._id}}>{{this.name}}</label>
                            {{/each}}
                             <div class="help-info">Class, Created in the Dashboard</div>
                        </div>  

      
                        
                        <div class="form-group">

                            {{#each myClass}}

                                       
                            <input type="radio" value={{this._id}} name="class_id" id={{this._id}} class="with-gap">
                            <label for={{this._id}}>{{this.name}}</label>
                            {{/each}}
                             <div class="help-info">Class, Created in the Dashboard</div>
                        </div>    

                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="email" class="form-control" name="email" maxlength="100" minlength="3" required>
                                <label class="form-label">Email Address</label>
                            </div>
                            <div class="help-info">example: theoderic@gmail.com</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="phone" maxlength="149" minlength="11" required>
                                <label class="form-label">Phone Number</label>
                            </div>
                            <div class="help-info">A Valid phone number 07039148866</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="occupation" maxlength="100" minlength="3" required>
                                <label class="form-label">Occupation</label>
                            </div>
                            <div class="help-info">example includes banker, doctor, programmer, software engineer </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="home_address" maxlength="194" minlength="3" required>
                                <label class="form-label">Home Address</label>
                            </div>
                            <div class="help-info">example: Number 12 ilorin street</div>
                        </div>

                         <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="church_attended" maxlength="194" minlength="1" required>
                                <label class="form-label">Church Attended</label>
                            </div>
                            <div class="help-info">example: Catholic Cathedral, pentecostal, others</div>
                        </div>

                         <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="work_address" maxlength="194" minlength="11" required>
                                <label class="form-label">Work Address</label>
                            </div>
                            <div class="help-info">example: Number 12 ilorin street</div>
                        </div>
                        <div class="form-group form-float">
                           <input type="radio" id="married" name="marital_status"  value="married" class="with-gap">
                            <label for="married">Married</label>

                            <input type="radio" id="single" name="marital_status"  value="single" class="with-gap">
                            <label for="single" class="m-l-20">Single</label>

                          <input type="radio" id="divorced" name="marital_status"  value="divorced" class="with-gap">
                            <label for="divorced" class="m-l-20">Divorced</label>

                            
                        </div>

                        <div class="form-group">
                            <input type="radio" id="christain" name="religion"  value="christain" class="with-gap">
                            <label for="christain">Christainity</label>

                            <input type="radio" id="muslim" name="religion" value="muslim" class="with-gap">
                            <label for="muslim" class="m-l-20">Muslim</label>

                            <input type="radio" name="religion"  id="hinduism" value="hinduism" class="with-gap">
                            <label for="hinduism" class="m-l-20">Hindu</label>
                            <input type="radio" name="religion" value="atheist" class="with-gap">
                            <label for="atheist" id="atheist"  class="m-l-20">Atheist</label>
                            <div class="help-info">Christain, Muslim, Hinduism, Atheist</div>
                        </div>

                         <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" id="n3" class="form-control" name="username" min="6" max="20" required>
                                <label class="form-label">Desired Username</label>
                            </div>
                            <div class="help-info">Min. Value: 10, Max. Value: 200</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" min="6" max="20" required>
                                <label class="form-label">Desired Password</label>
                            </div>
                            <div class="help-info">Alpha-numeric characters should be embeded</div>
                        </div>
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Advanced Validation -->

        </div>

