        <div class="container-fluid">
           
            <!-- Advanced Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Create A Staff</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                <div class="body">
                    <form id="form_advanced_validation" action="/admin/create_staff"method="POST">

                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="first_name" maxlength="10" minlength="3" required>
                                <label class="form-label">First Name</label>
                            </div>
                            <div class="help-info">First name required</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="last_name" maxlength="10" minlength="3" required>
                                <label class="form-label">Last Name</label>
                            </div>
                            <div class="help-info">Last Name required</div>
                        </div>
                         <div class="form-group">
                            <input type="radio" name="sex" value="male" class="with-gap">
                            <label for="male">Male</label>

                            <input type="radio" name="sex" value="female" class="with-gap">
                            <label for="female" class="m-l-20">Female</label>
                             <div class="help-info">Sex is required</div>
                        </div>
                        <div class="form-group">
                            {{#each staffType}}
                                       
                            <input type="radio" value={{this._id}} name="staffType_id" id={{this._id}} class="with-gap">
                            <label for={{this._id}}>{{this.name}}</label>
                            {{/each}}
                             <div class="help-info">Staff Type, created in the dashboard page</div>
                        </div> 
                        
                        <div class="form-group">

                            {{#each subject}}
                            <br/>                                       
                            <input type="radio" value={{this._id}} name="subject_id" id={{this._id}} class="with-gap">
                            <label for={{this._id}}>{{this.name}}</label>
                            {{/each}}
                             <div class="help-info">Subject, Created in the Dashboard</div>
                        </div>  

      
                        
                        <div class="form-group">

                            {{#each myClass}}

                                       
                            <input type="radio" value={{this._id}} name="class_id" id={{this._id}} class="with-gap">
                            <label for={{this._id}}>{{this.name}}</label>
                            {{/each}}
                             <div class="help-info">Class, Created in the Dashboard</div>
                        </div>    

                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="email" class="form-control" name="email" maxlength="100" minlength="3" required>
                                <label class="form-label">Email Address</label>
                            </div>
                            <div class="help-info">example: theoderic@gmail.com</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="phone" maxlength="14" minlength="11" required>
                                <label class="form-label">Phone Number</label>
                            </div>
                            <div class="help-info">A Valid phone number 07039148866</div>
                        </div>
                       
                         <div class="form-group form-float">
                            <div class="form-line">
                                <input type="number" class="form-control" name="salary" maxlength="10" minlength="3" required>
                                <label class="form-label">Staff Salary</label>
                            </div>
                            <div class="help-info">Staff's monthly salary, example 30000</div>
                        </div>


      

                                
                        <div class="form-group form-float">
                            <div class="form-line">
                             <br/>
                            
                                <input type="date" class="form-control" name="dob" required>

                                <label class="form-label">Date of Birth</label>
                            </div>

                            <div class="help-info">MM-DD-YYYY format</div>
                        </div>

                         <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control" name="username" min="6" max="20" required>
                                <label class="form-label">Desired Username</label>
                            </div>
                            <div class="help-info">Min. Value: 10, Max. Value: 200</div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" min="6" max="20" required>
                                <label class="form-label">Desired Password</label>
                            </div>
                            <div class="help-info">Alpha-numeric characters should be embeded</div>
                        </div>
                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Advanced Validation -->

        </div>

